{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}

<div class="container">
    <h1>Episodes</h1>
    <div class="createNewItem">
        <a href="{{ path('episode_new') }}">
            <i class="fas fa-plus-circle"></i>
            Create new
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Number</th>
                <th>Synopsis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>
                    <a href="{{ path('episode_show', {'id': episode.id}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('episode_edit', {'id': episode.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
