{% extends 'base.html.twig' %}
{% block title %}{{ actor.name }}{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center">
        <h1>{{ actor.name }} plays in : </h1>
        <ul>
            {% for program in programs %}
                <li class="list-unstyled mb-5">
                    <a href="{{ path('wild_program', {'id': program.id}) }}">
                        <img src="{{ program.poster }}" height=130 alt="">
                        {{ program.title }}

                    </a>
                </li>
            {% endfor %}
            </ul>
    </div>
{% endblock %}