{% extends "base.html.twig" %}

{% block body %}
    <div class="media episodes d-flex flex-column align-items-center">
        <div class="programInfos d-flex flex-column align-items-center"><h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Categorie : {{ program.category.name }}</p>
        </div>
        <div>
            <img class="align-self-start p-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        </div>
        <div class="media-body m-5">
            <div class="d-flex flex-column align-items-center">
                <p>Episode {{ episode.number }} </p>
                <h2> {{ episode.title }}</h2>
                <p>{{ episode.synopsis }}</p>
            </div>
            <hr>
        </div>
    </div>
    <div>
        <a href="{{ path('wild_season', {'id': season.id }) }}">
            Retour à la liste des épisodes
        </a>
    </div>
    <div>
        <a href="{{ path('wild_program', {'id': program.id }) }}">
            Retour à la série
        </a>
    </div>
    <div>
        <a href="{{ path('wild_index') }}">
            Retour à l'accueil
        </a>
    </div>

{% endblock %}

