{% extends 'base.html.twig' %}

{% block body %}
<div>
        <h3> Add a category : </h3>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button class="btn btn-success">{{ button_label|default('Add') }}</button>
        {{ form_end(form) }}

</div>

    <br>
        <h1>Categories :</h1>
        {% for category in categories %}
            <div>
                <h2><a href="{{ path('wild_category', { 'id': category.id }) }}"> {{ category.name }} </a></h2>
            </div>
        {% else %}
            No program found
        {% endfor %}
        <a href="{{ path('app_index') }}">Back to Homepage</a>

{% endblock %}
