{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}

    <h1 class="text-center mt-5 mb-5">All programs : </h1>
    <div class="d-flex programs_index justify-content-around">

        {% for program in programs %}

            <div class="card">
                <img src="{{ program.poster }}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">
                        <a href="{{ path('wild_program', {'id': program.id}) }}">
                            <h3>{{ program.title }} </h3>
                        </a>
                    </h5>
                    <p class="card-text">{{ program.category.name }}</p>
                    <p class="card-text-summary">{{ program.summary }}</p>
                    <a href="{{ path('wild_program', {'id' : program.id}) }}" class="btn mt-auto">Read more</a>
                </div>
            </div>

        {% else %}
            No program found
        {% endfor %}
    </div>
    <br>
    <a href="{{ path('app_index') }}"> Back to Homepage </a>


{% endblock %}