{% extends "base.html.twig" %}

{% block body %}
    <div class="media episodes d-flex flex-column align-items-center mt-5 mb-5">
        <div class="programInfos d-flex flex-column align-items-center"><h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Categorie : {{ program.category.name }}</p>
        </div>
        <div>
            <img class="align-self-start p-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        </div>
        <div class="media-body m-5">
            <div class="d-flex flex-column align-items-center">
                <p>Episode {{ episode.number }} </p>
                <h2> {{ episode.title }}</h2>
                <p>{{ episode.synopsis }}</p>
            </div>
            <hr>
            <h1 class="text-center mt-5 mb-5">Comments</h1>
            {% for comment in comments %}
                <div class="container">
                    <p>{{ comment.comment }}</p>

                   {% if app.user.id is defined and comment.author.id == app.user.id or is_granted("ROLE_ADMIN")%}
                        <a href="{{ path('wild_comment_edit', {'id' : comment.id}) }}">
                            Update / Delete ?
                        </a>

                    {%endif%}
                </div>
            {% endfor %}

            {% if app.user %}
                <div class="container">
            <h3>Leave us your comment about this episode</h3>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" name="btnComment" class="btn">Post your comment</button>
                    {{ form_end(form) }}
                </div>
            {% endif %}


        </div>
    </div>
    <div>
        <a href="{{ path('wild_season', {'id': season.id }) }}">
            Retour à la liste des épisodes
        </a>
    </div>
    <div>
        <a href="{{ path('wild_program', {'id': program.id }) }}">
            Retour à la série
        </a>
    </div>
    <div>
        <a href="{{ path('wild_index') }}">
            Retour à l'accueil
        </a>
    </div>

{% endblock %}

