<header>
    <nav class="navbar navbar-expand-lg">
        <i class="fas fa-dice-d20"> &nbsp; </i>
        <a class="navbar-brand" href="{{ path('app_index') }}"> Wild Series</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('wild_programs') }}">{{ 'programs.nav'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('wild_categories') }}">{{ 'categories.nav'|trans }}</a>
                </li>
            </ul>
            {# <form class="form-inline my-2 my-lg-0">
                 <input class="form-control mr-sm-2" type="search" placeholder="Title/Actors" aria-label="Search">
                 <button class="btn my-2 my-sm-0" type="submit">Search</button>
             </form>#}
            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               href="{{ path("category_index") }}">{{ 'categories.drop'|trans }}</a>
                            <a class="dropdown-item" href="{{ path("program_index") }}">{{ 'programs.drop'|trans }}</a>
                            <a class="dropdown-item" href="{{ path("season_index") }}">{{ 'seasons.drop'|trans }}</a>
                            <a class="dropdown-item" href="{{ path("episode_index") }}">{{ 'episodes.drop'|trans }}</a>
                        </div>
                    </li>


                {% endif %}

                {# <li class="nav-item">
                     {% if app.user %}
                         <a href="{{ path('wild_profile') }}" class="nav-link">{{ app.user.email }}</a>
                     {% endif %}
                 </li>
                 <li class="nav-item">
                     {% if app.user %}
                         <a href="{{ path('app_logout') }}" class="nav-link"> Log out</a>
                     {% else %}
                         <a href="{{ path('app_login') }}" class="nav-link"> Log in</a>
                     {% endif %}
                 </li>#}

                {% if app.user %}
                    <a href="{{ path('wild_profile') }}" class="nav-link">{{ app.user.email }}</a>
                    <a class="mt-2" href="{{ path('app_logout') }}"> {{ 'account.logout'|trans }}</a>
                {% else %}
                    <a class="mt-2" href="{{ path('app_login') }}"> {{ 'account.login'|trans }}</a>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDrop" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ 'languages.choice'|trans }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDrop">
                        <a class="dropdown-item" href="{{ path(app.request.get('_route'), ({'_locale': 'en' })) }}">English</a>
                        <a class="dropdown-item" href="{{ path(app.request.get('_route'), ({'_locale': 'fr' })) }}">Francais</a>
                        <a class="dropdown-item" href="{{ path(app.request.get('_route'), ({'_locale': 'es' })) }}">Español</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>